/* Estilos CSS para el diseño responsivo del mapa */
.mapa-responsive {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}

.mapa-responsive iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

body a {
  color: #ff6600;
}
body a:hover {
  color: #BF010F; 
  text-decoration: none;
}

body {
	font-family: 'Anime Ace 2 Regular', sans-serif;
}